<h1 mat-dialog-title><span *ngIf="!user.id">Ajout</span><span *ngIf="user.id">Modification</span> collaborateur</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="user-form">      
        <mat-tab-group class="vertical-tabs">
            <mat-tab label="Principales">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>user</mat-icon> Nom</mat-placeholder>
                        <input matInput formControlName="nom" required>
                        <mat-error *ngIf="form.controls.nom.errors?.required">Username is required</mat-error>
                        <mat-error *ngIf="form.controls.nom.hasError('minlength')">Username isn't long enough, minimum of 5 characters</mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>user</mat-icon> Prénom</mat-placeholder>
                        <input matInput formControlName="prenom" required>
                        <mat-error *ngIf="form.controls.prenom.errors?.required">Username is required</mat-error>
                        <mat-error *ngIf="form.controls.prenom.hasError('minlength')">Username isn't long enough, minimum of 5 characters</mat-error>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Authentification">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <mat-placeholder><mat-icon>vpn_key</mat-icon> Password</mat-placeholder>
                        <input matInput formControlName="password" required [type]="passwordHide ? 'prenom' : 'text'">
                        <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                        <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Contacts" formGroupName="contacts">
                <div fxLayout="column" class="form-field-outer">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Email" formControlName="email" required>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Phone" formControlName="phone">
                    </mat-form-field>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" [mat-dialog-close]="form.value" (click)="valid()" [disabled]="!form.valid"><span *ngIf="!user.id">Save</span><span *ngIf="user.id">Update</span></button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>