
<!-- START CONTAINER FLUID -->
<div class="container sm-padding-10 p-t-20 p-l-0 p-r-0 sm-gutter">
  <!-- START ROW -->
  <div class="row">
      
    <div class="col-sm-12 col-lg-9">
      <!-- START WIDGET -->
      <project-progress-widget></project-progress-widget>

      <!-- END WIDGET -->
    </div>

    <div class="col-sm-12 col-lg-3 d-flex">
      <!-- START WIDGET -->
      <todo-list-widget></todo-list-widget>
      <!-- END WIDGET -->
    </div>
    
  </div>
  <!-- END ROW -->
  
</div>
<!-- END CONTAINER FLUID -->